<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sclae=1">
    <title>E-learning landing page</title>
    <link rel="stylesheet" href="static/style2.css">
</head>

<body>
    <section id="header">
        <div class="container">
            <img src="static/images/logo1.jpg" class="logo" alt="">
            <div class="header-text">
                <h1>The purpose is to<br>teach, bring knowledge to the people</h1>
                <span class="square"></span>
                <p>We believe Learning is the source of human progress.No matter who we are or where we are, learning empowers us to change and grow and redefine what’s possible. That’s why access to the best learning is a right, not a privilege.
                </p>
                <button class="common-btn"><a href="#about">Read More</a></button>
                <button class="common-btn"> <a href="/login">LEARN NOW</a> </button>
                <!-- <button class="common-btn"> <a href="http://localhost:3000/">LEARN NOW</a> </button> -->
                
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
            </div>
        </div>
    </section>

    <nav id="sideNav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#courses">Courses</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <img src="static/images/menu.png" id="menuBtn" alt="menu-img">

    <script src="static/scripts.js"></script>

    <!-- about section -->

    <section id="about">

        <div class="about-left-col">
            <img src="static/images/about.png" alt="">
        </div>
        <div class="about-right-col">
            <div class="about-text">
                <h1>About Us</h1>
                <span class="square"></span>
                <p>We believe every person has the potential to be amazing. And that there is a better way to bring out what they already have in them. We know this because we have lived it. We have had the honor of training more people than anyone. We help
                    democratize learning with powerful cloud-based tools and unmatched enterprise-wide smarts and skills. Like our learners, we are always evolving -- making sure individuals, teams, and enterprises have exactly what they need to unleash
                    their edge.No matter where you’re coming from or where you’re headed, it’s your journey. We’ll help you get there.</p><br><br>
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
                <h2>
                    "Learning is not attained by chance, it must be sought after with ardor and attended with diligence"
                </h2>
                <h3>----Abigail Adams</h3>
            </div>
        </div>
    </section>

    <!-- features -->
    <section id="features">
        <div class="feature-row">
            <div class="feature-col">
                <img src="static/images/pic-1.png" alt="">
                <h4>Learn Anywhere</h4>
                <p>Switch between your computer, tablet or mobile device</p>
            </div>
            <div class="feature-col">
                <img src="static/images/pic-2.png" alt="">
                <h4>Expert Teachers</h4>
                <p>Learn from industry experts who are passionate about teaching</p>
            </div>
            <div class="feature-col">
                <img src="static/images/pic-3.png" alt="">
                <h4>Unlimited Access</h4>
                <p>Choose what you'd like to learn from our vast subscription library</p>
            </div>
        </div>
        <div class="feature-btn">
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span>
            </div>
            <br>
            <br>
            <!-- <button class="common-btn">Start Free Trial</button> -->
        </div>
    </section>

    <!-- courses -->

    <section id="courses">
        <div class="container course-row">
            <div class="course-left-col">
                <div class="course-text">
                    <h1>Browse our top<br>courses</h1>
                    <span class="square"></span>
                    <p>We have tried to implement a custom solution that maximized efficiency when it came to introducing learners to corporate culture and training them as well.</p>
                    <br>
                    <br>
                    <!-- <button class="common-btn">View all courses</button> -->
                    <div class="line">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span>
                    </div>
                </div>
            </div>
            <div class="course-right-col">
                <img src="static/images/course.png" alt="">
            </div>
        </div>
    </section>


    <!-- footer -->

    <section id="footer">
        <div class="container footer-row">
            <hr>
            <div class="footer-left-col">
                <div class="footer-links">
                    <div class="link-title">
                        <h4>Product</h4>
                        <small>Our Plan</small>
                        <!-- <small>Free Trial</small> -->
                    </div>
                    <div class="link-title">
                        <h4>About us</h4>
                        <small>Request Demo</small>
                        <!-- <small>FAQs</small> -->
                    </div>
                    <div class="link-title">
                        <h4>Support</h4>
                        <small>Features</small>
                        <!-- <small>Contact Us</small> -->
                    </div>
                    <div class="link-title">
                        <h4>Explore</h4>
                        <!-- <small>Features</small> -->
                        <small>Contact Us</small>
                    </div>
                </div>
            </div>
            <div class="footer-right-col">
                <div class="footer-info">
                    <div class="copyright-text">
                        <small>elearning@gmail.com</small>
                        <small>copyright 2023</small>
                    </div>
                    <div class="footer-logo">
                        <img src="static/images/logo1.jpg" alt="">
                        <!-- <button class="common-btn">Start Free Trial</button> -->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- social icons -->

    <div class="social-icons">
        <img src="static/images/facebook.png" alt="">
        <img src="static/images/twitter.png" alt="">
        <img src="static/images/linkedin.png" alt="">
        <img src="static/images/instagram.png" alt="">
    </div>
    
    <!-- smooth scroll -->
    <script src="static/smooth-scroll.js"></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>

</body>

</html>