<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
</head>

<body>
    <div class="container">
        <div class="heading1">
            <h1>USER LOGIN PORTAL</h1>
            <br>
            <h3>Welcome To Our Learning Community!</h3>
        </div>
        <section id="content">
            <form action="/decision" , method="POST">
                <h1>Login Form</h1>
                <div>
                    <input type="text" placeholder="Username" required="yes" id="username" name="username" />
                </div>
                <div>
                    <input type="password" placeholder="Password" required="yes" id="password" name="password" />
                </div>
                <div>
                    <input type="submit" value="Log in" />
                </div>
                <div>
                    <a href="/register">Register</a>
                    <!-- <a href="/update">    Update</a> -->
                    <!-- <a href="/delete">Delete</a> -->
                </div>
            </form>

        </section>
    </div>
</body>

</html>