<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/style3.css" />
</head>

<body>

    <header class="header1">
        <div class="left">
            <h2> LOGIN PORTAL </h2>
            <h3>Welcome To Our Learning Community</h3>
            <div class="topimg">

                <a href="/adminlogin"> <img src="static/images/adminlogin.jpg" class="logo" alt=""></a>
            </div>
            <div class="bottomimg">

                <a href="/login"> <img src="static/images/studentlogin.jpg" class="logo" alt=""></a>
            </div>

        </div>
        <div class="right">
            <img src="static/images/background.png" alt="">
        </div>
        <!-- <img src="static/images/background.png" alt=""> -->

    </header>

</body>

</html>