<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    video{
        width: 100%;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <form class="form-inline" action="/search" method="post">
        <input type="text" class="form-control" style="width: 90%;" id="query" name="query" placeholder="Enter query">
        <input type="submit" class="btn btn-success" value="Search">
    </form>
      <br><br>    
    </div>
  </div>
  <div class="row">
  <div class="col-lg-8">
    <video  controls autoplay>
    <source src="http://127.0.0.1:5000/static/ppp.mp4" type="video/mp4">
    </video>

  </div>
  <div class="col-lg-4">
    <video>
    <source src="http://127.0.0.1:5000/static/bgs.mp4" type="video/mp4">
    </video>
    <video>
    <source src="http://127.0.0.1:5000/static/bgs.mp4" type="video/mp4">
    </video>
    <video>
    <source src="http://127.0.0.1:5000/static/bgs.mp4" type="video/mp4">
    </video>
  </div>
</div>
</div>

</body>
</html>
