body {
    background: url(contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Search {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 200px 0;
}

input[type='text'] {
    padding: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.50);
    border-color: rgba(0, 0, 0, 0.50);
}

input[type='submit'] {
    padding: 15px;
}

input[type='text']::placeholder {
    color: #ddd;
}

.container-fluid li {
    color: gray;
}

.logoclass img {
    padding: 3px;
    width: 40px;
}